@model  WebApplication1.ViewModels.EmployeeListViewModel

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    Hello @Model.UserName
    <hr />
    <div>
        <table>
            <tr><th>Employee Name</th>
            <th>Salary</th></tr>
            @foreach (WebApplication1.ViewModels.EmployeeViewModel item in Model.Employees)
            {
                <tr>
                    <td>
                        @item.EmployeeName
                    </td>
                    <td style="background-color:@item.SalaryColor">
                        @item.SalaryColor
                    </td>
                </tr>
            }
        </table> 
    </div>
</body>
</html>
